@font-face {
  font-family: tmbc;
  src: url(/font-regular.otf);
}
@font-face {
  font-family: tmbc-bold;
  src: url(/font-bold.otf);
}

* {
  font-family: tmbc;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
