.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;
}

.title {
  margin: 20px 0;
}
.title h2 {
  font-family: tmbc-bold;
}
.button button {
  background-color: black;
  color: white;
  border: none;
  padding: 4px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.list {
  min-width: 900px;
  background-color: #eee;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
}

.list .item {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 10px;
}

.formBox {
  padding: 20px;
  background-color: #eee;
  width: 100%;
  max-width: 300px;
  text-align: center;
  border-radius: 10px;
}
.formBox input {
  display: block;
  width: 100%;
  padding: 3px 10px;
  border: none;
  margin-bottom: 10px;
  text-align: center;
}
